<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head.ejs')  %>
</head>

<body>
	<%- include('./partials/nav.ejs')  %>
	<h1>Dashboard</h1>
	<p>Welcome <%- currentUser.firstName %></p>
	<h2>Do you want to create a tournament?</h2>
	<a href="/tournament/new">Create a tournament</a>
	<h2>Do you want to register for a tournament?</h2>
	<a href="/tournament">Register</a>
</body>

</html>