<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head.ejs')  %>
</head>

<body>
	<nav>
		<%- include('./partials/nav.ejs')  %>
		</nav>
	<h1>Tourney Comms</h1>
	<h1>Welcome! Please login or register to use the site</h1>
</body>

</html>