<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %>
</head>
<body>
    <%- include('../partials/nav.ejs')  %>
    <h1>Error</h1>
    <p>Oops! Invalid credentials.</p>
</body>
</html>