<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head.ejs')  %>
</head>

<body>
	<nav>
		<%- include('../partials/nav.ejs')  %>
		</nav>
	<h1>Register</h1>
	<form action='/users' method='POST'>
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" /> <br>

		<label for="password">Password:</label>
		<input type="password" name="password" id="password" /> <br>

		<label for="firstName">First Name:</label>
		<input type="firstName" name="firstName" id="firstName" /><br>

		<label for="lastName">Last Name:</label>
		<input type="lastName" name="lastName" id="lastName" /><br>

		<label for="pronouns">Pronouns:</label>
		<input type="pronouns" name="pronouns" id="prounouns" />

		<input type="submit" value="Register">
	</form>
</body>

</html>