<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head.ejs')  %>
</head>

<body>
	<nav>
		<%- include('../partials/nav.ejs')  %>
		</nav>
    <h1>Edit Tournament</h1>
	<form action='/tournament/<%=tournament._id%>?_method=PUT' method="POST">

		<label for="startDate">Start Date:</label>
		<input type="date" name="startDate" id="startDate" /><br>

		<label for="endDate">End Date:</label>
		<input type="date" name="endDate" id="endDate" /><br>

		<label for="time">Start Time:</label>
		<input type="time" name="time" id="time" /><br>

        <label for="address">Address:</label>
		<input type="address" name="address" id="address" /> <br>

		<label for="participants">Participants:</label>
		<textarea type="participants" name="participants" id="participants"></textarea> <br>

		<input type="submit" value="Submit Changes" />
	</form>
</body>

</html>