<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourney Comms</title>
</head>
<body>
    <h1>Tournaments</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Date (yyyy/mm/dd)</th>
            <th>Location</th>
            <th>Information</th>
        </tr>
        <% tournament.forEach(tournament => { %>
            <tr>    
                <td><%=tournament.name %></td>
                <td><%=tournament.date %></td>
                <td><%=tournament.address %></td>
                <td><a href="/tournament/<%=tournament._id; %>">For More Information</a></td>
            </tr>
        <% }) %>
    </table>

</body>
</html>